.container-card {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #868585;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.container-card .status {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 12px;
    background-color: #c2c2c2;
    border-radius: 20px;
    top: 10px;
}

.container-card .status.connected {
    background-color: #01ff23;
}

.container-card .image-contact {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card .image-contact .img-user {
    width: 100px;
    height: 80px;
}

.container-card .info-contact {
   flex: 1;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* padding-left: 10px; */
}

.container-card .info-contact .email-user {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}