.container-all-login {
    height: 100%;
    background-color: #282c34;
}

.container-all-login .container-form,
.container-all-login .container-logo {
    display: flex;
    justify-content: center;
}

.container-all-login .App-logo {
    width: 400px;
    height: 250px;
    animation: rotacion 20s linear infinite;
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-all-login form {
    display: flex;
    flex-direction: column;
    gap: 4px; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 240px;
    padding: 25px;
    color: white;
    border-radius: 8px;
}

.container-all-login form input {
    border-radius: 4px;
    border-color: #c2c2c2;
    height: 25px;
}

.container-all-login form .btn-login {
    background-color: #61dafb;
    border: 1px solid #61dafb;
    border-radius: 8px;
    height: 25px;
    width: 100px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.container-all-login hr.line-separate {
    width: 100%;
}

.container-all-login form button.btn-create-account {
    background-color: #61dafb;
    border: 1px solid #61dafb;
    border-radius: 8px;
    height: 25px;
    color: white;
    cursor: pointer;
}

