.container-mensaje {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.container-mensaje .mensaje {
    position: absolute;
    top: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    z-index: 1;
}

.container-mensaje .mensaje.success {
    background-color: #2e7d32;
}

.container-mensaje .mensaje.error {
    background-color: #d32f2f;
}

