.container-chat-private .header-chat .icon-min-close {

}

.container-chat-private {
    width: 300px;
    background: #FFF;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.container-chat-private .header-chat {
    width: 100%;
    height: 40px;
    background: yellow;
    display: flex;
    flex-direction: row;
}

.container-chat-private .header-chat .container-name-chat-private {
    flex: 1;
    line-height: 40px;
    position: relative;
}

.container-chat-private .header-chat .container-name-chat-private .name-chat-private {
    line-height: 40px;
    padding-left: 6px;
}

.container-chat-private .header-chat .container-name-chat-private .status-name-chat-private {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    background-color: #c2c2c2;
    top: 2px;
    border-radius: 20px;
}

.container-chat-private .header-chat .icon-min-close {
    width: 80px;
    background: red;
    height: 100%;
    display: flex;
}

.container-chat-private .container-chat {
    flex: 1;
}

.container-chat-private .input-chat {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #c2c2c2;
}

.container-chat-private .input-chat .container-input-send-message {
    flex: 1;
    padding: 5px;
}

.container-chat-private .input-chat .container-input-send-message input {
    width: 90%;
    height: 20px;
    border-radius: 6px;
}

.container-chat-private .input-chat .container-btn-send-message {
    width: 30px;
    height: 30px;
    background-color: rgb(28, 42, 240);
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.container-chat-private .header-chat .icon-min-close .icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}